@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gotham";
    src: local("Gotham"), url(../src/assets/fonts/Gotham-Font/GothamMedium.ttf) format("woff");
}

body{
   cursor: url('./assets/images/souris.png') 0 0, auto
} 